#header {
  width: 100%;
  margin: 0 auto;
  margin-top: 35px;
  background-color: #A4A4A4;
  font-family: monospace;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  font-family: monospace;
}

nav li {
  display: inline-block;
  line-height: 50px;
  padding: 0 20px;
  float: center;
  font-size: 21px;
  font-family: monospace;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-family: monospace;
}

nav a:hover {
  font-weight: bold;
  font-family: monospace;
}

#logo {
  float: center;
  background: #FFFF00;
  color: black;
  font-weight: bold;
  font-family: monospace;
}

h1 {
  font-family: Georgia,serif;
  font-size: 65px;
  letter-spacing: 2.6px;
  word-spacing: 4.8px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: uppercase;
}
 body {
   background-color: #585858;
   color: white;
   text-align: center;
 }


#reset-scoreboard {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: 0%;
  text-align: center;
  width: 456px;
  margin-left: auto;
  margin-right: auto;
  color: blue;
}

#reset-scoreboard:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

td {
  border: 2px solid white;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  user-select: none;
  width: 150px;
}
#h1 {
  font-family: Georgia,serif;
  font-size: 65px;
  letter-spacing: 2.6px;
  word-spacing: 4.8px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: uppercase;
  text-align: center;
}

div {
  text margin: 0px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.circle {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  line-height: 175px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

}

.wrap {
  flex-wrap: wrap;
  height: 750px;
  width: 800px;
}

.container {
align-items: center;
}

.containerv2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.columnv2 {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.Red {
  background-color: #ed3b3b;
  color: transparent;
}

.Yellow {
  background-color: #f5ef38;
  color: transparent;
}

.first {
  border: 1px solid;
  font-size: 46px;
  height: 90px;
  line-height: 100px;
  user-select: none;
  width: 110px;
  margin: 5%;
  border-radius: 50%;
  color: white;
}

.first:hover {
    background-color: white;
    cursor: pointer;
    color: black;
}

.scoreboard {
  border-collapse: collapse;
  margin: 2%;
  border-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  background-color: #348ceb;
  display: inline-block;
  vertical-align: middle;
  line-height: 123px;
  user-select: none;

}

#yellowFirst {
  background-color: #f5ef38;
}

#redFirst {
  background-color: #ed3b3b;
}

#reset-button {
  background-color: white;
  border: 1px solid white;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  width: 456px;

}

#reset-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

h2 {
  font-size: 50px;
  margin: 5px;
  font-family: Georgia,serif;
  font-size: 65px;
  letter-spacing: 2.6px;
  word-spacing: 4.8px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: uppercase;
  text-align: center;
}

.wins {
  border: 2px solid white;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  user-select: none;
  width: 150px;
  color: white;
}
#table {
  margin-left: auto;
  margin-right: auto;
}
